.desc {
  &__title {
    margin-top: 3.3rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
  &__row {
    display: flex;
    margin-top: 1.8rem;
    justify-content: space-between;
   
  }
  &__key {
    color: #757575;
    flex: 1 0 65%;
  }
  &__value {
    color: #000;
    font-weight: 600;
    width: 50%;
    &:hover {
      text-decoration: none;
      color: #000;
    }

  }
  &_rating, &_quantity {
    .desc__key {
      flex-basis: 80%;
    }
    .desc__value {
      text-align: right;
    }
  }

}
